.action {
    background-color: black;
    font-size: 12px;
    height: 23px;
    width: 23px;
    border-radius: 16px;
    
   
 
}
.action {
    &:after,
    &:before {
        content: '';
        display: block;
        background-color: white;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);

        transition: all .3s ease;
        

    }
    &:before {
        height: 1em;
        width: 0.2em;
    }
    &:after {
        margin-top: -12px;
        height: 0.2em;
        width: 1em;
    }
}
.action-remove{
    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-135deg);
    }
}